* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
body{

 margin: 40px;
 height:1000px;
  background: url("img/santa.jpg") no-repeat;
	background-size: 100%;
	font-family: 'Mountains of Christmas', cursive !important;
}
h1{
	font-family: 'Mountains of Christmas', cursive !important;
	color: white;
	font-size: 4rem !important;
	margin: 3% 3% 0 3% !important;
}
.badge {
	background:  #ff0000 !important;
}
.badge-2{
	background: #74d680 !important;

}
.wrapper  {
	margin-top: 100px;
 display: grid;
 grid-template-columns: 200px 200px;
 grid-gap: 10px;
grid-template-rows: 200px 200px;
 color: #444;
 padding-left: 12%;
}
.white{
	background-image: url('img/gift.png');
	background-size: cover;
	background-position: center;
	transition: background-color 1000ms;
}

h2{
	 	 font-size: 4rem !important;
		 padding-top: 15%;
		 height:150px;
}

.wrapper-hide-color{
	display: none;
}
.wrapper-hide-number{
	display: grid;
}
.wrapper-hide{
	display: none;
}




/*Color ROUND 1*/


.box {
 background-color: #444;
 color: #fff;
 border-radius: 5px;
 border: solid 2px grey;
 padding: 20px;
 font-size: 150%;
 text-align: center;
 transition: background-color 1000ms;
}
#red{
	background: #ff0000;

}
#pink{
	background: #ff7878;
}
#white{
	background: #fff;
	color: black;
}
#green{
	background: #74d680;
}





/*COLORS ROUND 2*/
.grid-colors-2{
	margin-top: 100px;
 display: grid;
 grid-template-columns: 200px 200px;
 grid-gap: 10px;
grid-template-rows: 200px 200px;
 color: #444;
 padding-left: 12%;
}
#red2{
	background: #ff0000;
opacity: 50%;
}
#pink2{
	background: #ff7878;
	opacity: 50%;
}
#white2{
	background: #fff;
	color: black;
	opacity: 50%;
}
#green2{
	background: #74d680;
	opacity: 50%;
}

.box-round-2{
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	border: solid 2px grey;
	padding: 20px;
	font-size: 150%;
	text-align: center;
	transition: background-color 1000ms;

}




/*NUMBERS ROUND 3*/
.grid-numbers{
	margin-top: 100px;
 display: grid;
 grid-template-columns: 200px 200px;
 grid-gap: 10px;
grid-template-rows: 200px 200px;
 color: #444;
 padding-left: 12%;

}

.box-round-3{
	background-color: #444;
  color: #fff;
  border-radius: 5px;
  border: solid 2px grey;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  transition: background-color 1000ms;
}
#two{
	background: #ff0000;

}
#six{
	background: #ff7878;
}
#one{
	background: #fff;
	color: black;
}
#ten{
	background: #74d680;
}



/*FORTUNE*/

#cookie-time{
	display: none;
}

.fortune-cookie-saying-wrapper {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}
